* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* fonts */
.merriweather-normal {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.inter-normal{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* theme */
:root {
    --primary-c: #ffffff;
    --secondary-c: #FF0000;
    --dark-1: #070211;
}

/* reusable */
.container {
    max-width: 1140px;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.common-design-sec {
    width: 100%;
    height: 518px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* styling code for header section */

.header {
    background-image: url('../images/Banner\ Image.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 518px;
    margin-top: 50px;
}

.header-sec {
    /* background-color: #070211; */
    background-image: linear-gradient(#070211, #07021100);
    /* background-color: red; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
}

.header-title-container {
    text-align: center;
    width: 600px;
}

.header-title-container .header-greeting {
    font-size: 32px;
    font-weight: 400;
    color: var(--primary-c);
}

.header-title-container .header-title {
    font-size: 72px;
    font-weight: 800;
    color: var(--primary-c);
}

/* styling code for discount section */
.new-year-discount {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
    margin: 120px 0;
}

.discount-title {
    font-size: 88px;
    color: var(--secondary-c);
    margin-bottom: 48px;
}

.discount-sub-title-1 {
    font-size: 24px;
    color: var(--secondary-c);
    font-weight: 500;
    margin-bottom: 16px;
}

.discount-sub-title-2 {
    font-size: 48px;
    color: var(--dark-1);
    margin-bottom: 48px;
}

/* styling code for welcome section */
.welcome-container {
    width: 550px;
    margin-left: 120px;
}

.welcome-sec {
    width: 100%;
    background-image: linear-gradient(to right, #070211, #07021100), url('../images/Vectorrr.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 518px;
    display: flex;
    align-items: center;
    margin-bottom: 120px;
    justify-content: space-between;
    border-radius: 14px;
}

.welcome-sec img {
    width: 250px;
    margin-right: 120px;
}

.welcome-title-1 {
    font-size: 64px;
    color: var(--primary-c);
    letter-spacing: 8px;
}

.welcome-info {
    font-size: 18px;
    color: var(--primary-c);
    font-weight: 100;
    margin-top: 24px;
    line-height: 30px;
    margin-bottom: 48px;
}

.join-btn {
    font-size: 20px;
    color: var(--primary-c);
    text-decoration: none;
    font-weight: 700;
    margin-left: 32px;
}

/* styling code of destination section */
.destination {
    margin-bottom: 120px;
}

.destination-title {
    font-size: 32px;
    font-weight: 600;
    color: var(--dark-1);
    margin-bottom: 10px;
}

.destination-title span {
    color: var(--secondary-c);
}

.margin-b {
    margin-bottom: 48px;
}

.join-now-red-btn {
    text-decoration: none;
    font-size: 20px;
    color: var(--primary-c);
    padding: 16px 32px;
    background-color: var(--secondary-c);
    border-radius: 8px;
}

/* styling code for offer section */
.offer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;
}

.left {
    width: 28%;
    /* background-color: tomato; */
}

.left h5 {
    font-size: 24px;
    margin-bottom: 16px;
    color: var(--secondary-c);
}

.left h3 {
    font-size: 48px;
    margin-bottom: 22px;
    font-weight: bold;
}

.left p {
    font-size: 20px;
    line-height: 32px;
    color: var(--dark-1);
    font-weight: 100;
}

.mid {
    width: 32%;
    /* background-color: tomato; */
}

.circle-shape {
    width: 100%;
    height: 360px;
    border: 15px solid var(--secondary-c);
    border-radius: 50%;
    /* background-color: var(--secondary-c); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-img {
    width: 280px;
    aspect-ratio: 1;
}

.right {
    width: 20%;
    /* background-color: tomato; */
}

.right h3 {
    font-size: 48px;
    color: var(--secondary-c);
    font-weight: 700;
    margin-bottom: 16px;
}

.right p {
    font-size: 20px;
    line-height: 32px;
    color: var(--dark-1);
    font-weight: 100;
    margin-bottom: 43px;
}

/* styling code for holiday's offer with discount section */
.holidays-title-container {
    height: 986px;
    background-image: url('../images/Group\ 75.png'), url('../images/Rectangle\ 2.png'), url('../images/Group\ 44.png');
    background-repeat: no-repeat;
    background-size: 500px 500px, contain, 300px 300px;
    background-position: 9% 93%, bottom, 85% 65%;
    margin-bottom: 120px;
}

.holidays-title-container h5 {
    font-size: 24px;
    color: var(--dark-1);
    margin-bottom: 16px;
}

.holidays-title-container h2 {
    font-size: 72px;
    font-weight: 700;
    margin-bottom: 28px;
    color: var(--dark-1);

    & span {
        color: var(--secondary-c);
    }
}

.holidays-title-container p {
    font-size: 20px;
    line-height: 32px;
    color: var(--dark-1);
    font-weight: 100;
    margin-bottom: 43px;
}

/* styling code for gallary section */
.gallary-sec {
    margin-bottom: 120px;
}
.gallary-title-container {
    width: 800px;
}

.gallary-title-container h5 {
    font-size: 24px;
    color: var(--secondary-c);
    margin-bottom: 16px;
}

.gallary-title-container h2 {
    font-size: 48px;
    color: var(--dark-1);
    font-weight: 700;
    margin-bottom: 22px;
}

.gallary-title-container p {
    font-size: 20px;
    line-height: 32px;
    color: var(--dark-1);
    font-weight: 100;
    margin-bottom: 43px;
}

.gallary-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.gallary-container img {
    width: 31%;
}

/* styling code for newsletter section */
.newsletter-sec {
    display: flex;
    justify-content: center;
    margin-bottom: 120px;
}

.newsletter-container {
    width: 800px;
}

.newsletter-container img {
    margin-bottom: 40px;
}

.newsletter-container h2 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 22px;
}

.newsletter-container p {
    font-size: 20px;
    line-height: 32px;
    color: var(--dark-1);
    font-weight: 100;
    margin-bottom: 43px;
}

.newsletter-container input[type='email'] {
    font-family: "Inter", sans-serif;
    padding: 25px 30px;
    width: 450px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-left: 1px solid var(--secondary-c);
    border-top: 1px solid var(--secondary-c);
    border-bottom: 1px solid var(--secondary-c);
    border-right: none;
    font-size: 18px;
    outline: none;
    color: var(--dark-1);
    /* margin-right: -1px; */
    /* background-color: blue; */
}

.newsletter-container input[type='submit'] {
    font-family: "Inter", sans-serif;
    padding: 24.5px 30px;
    /* width: 300px; */
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    /* border: 1px solid var(--secondary-c); */
    border: none;
    background-color: var(--secondary-c);
    color: var(--primary-c);
    font-size: 20px;
    cursor: pointer;
}

.input-field {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: tomato; */
}

/* stling code for footer section */
.footer {
    width: 100vw;
    color: var(--primary-c);
    background-color: var(--dark-1);
}

.footer-sec {
    max-width: 1140px;
    margin: 0 auto;
    background-color: var(--dark-1);
    padding: 120px 0;
}

.footer-sub-sec-1 {
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.address p {
    font-size: 24px;
    width: 404px;
}

.contact p {
    font-size: 24px;
}

.footer-sub-sec-2 {
    padding: 50px 0;
}

.mr {
    margin-right: 24px;
}

/* hr {
    margin: 50px 0;
    background-color: var(--primary-c);
} */

.footer-sub-sec-3 {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.footer-sub-sec-3 p {
    font-size: 24px;
}

.footer-sub-sec-3 a {
    text-decoration: none;
    font-size: 24px;
    color: var(--primary-c);
}